{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>

<div class="container m-auto">
    <div class="lg:flex justify-center lg:space-x-10 lg:space-y-0 space-y-5">

        <!-- Left sidebar - Posts -->
        <div class="space-y-5 flex-shrink-0 lg:w-7/12">
            <!-- Post loop -->
            {% if posts %}
                {% for post in posts reversed %}
                    <div class="bg-white shadow rounded-md -mx-2 lg:mx-0">
                        <!-- Post header -->
                        <div class="flex justify-between items-center px-4 py-3">
                            <div class="flex flex-1 items-center space-x-4">
                                <a href="/profile/{{ post.user }}">
                                </a>
                                <span class="block capitalize font-bold "><a
                                        href="/profile/{{ post.user }}">@{{ post.user }}</a></span>
                            </div>

                        </div>

                        <!-- Image -->
                        <div uk-lightbox>

                                <img src="{{ post.image.url }}" alt="Post Image" class="w-full h-auto">
                            </a>
                        </div>

                        <!-- Like, comment, download buttons -->
                        <div class="py-3 px-4 space-y-3">
                            <div class="flex space-x-4 lg:font-bold justify-center">
                                <a href="/like-post?post_id={{ post.id }}" class="flex items-center space-x-2">
                                    <div class="p-2 rounded-full text-black" style="width: 150px;">
                                        <!-- Fixing width -->
                                        <img width="40" height="40" src="/media/sw.png" alt="Switch"
                                             style="margin-bottom: 20px;">
                                        {% if post.no_of_likes == 0 %}
                                            <p>0 Switches</p>
                                        {% elif post.no_of_likes == 1 %}
                                            <p>Switched on by 1 person</p>
                                        {% else %}
                                            <p>Switched on by {{ post.no_of_likes }} people</p>
                                        {% endif %}
                                    </div>
                                </a>
                                <a style= "margin-bottom: 10px" href="{{ post.image.url }}" class="flex items-center space-x-2 flex-1 justify-end"
                                   download="">
                                    <img width="40" height="40" src="/media/download.png" alt="Download"
                                         style="margin-bottom: 20px;">
                                </a>
                            </div>

                            <!-- Post caption -->
                            <p>
                                <a href="/profile/{{ post.user }}"><strong>{{ post.user }}</strong></a> {{ post.caption }}
                            </p>

                            <!-- Comment input -->
                            <div style="align-items: flex-end">
                                <form action="{% url 'submit_comment' %}" method="post" class="flex items-center">
                                    {% csrf_token %}
                                    <input type="hidden" name="post_id" value="{{ post.id }}">
                                    <input style="background: lightgray; border-radius: 5px; color: black;" type="text"
                                           name="text" placeholder="Add a comment"
                                           class="bg-transparent max-h-8 px-2 py-1 flex-grow shadow-none">
                                    <button style="padding-left: 15px" type="submit" class="ml-2"
                                            style="align-self: flex-end">
                                        <img src="/media/comment.png" alt="Submit" style="width: 50px; height: 50px;">
                                    </button>
                                </form>
                            </div>

                            <!-- Display comments -->
                            <div id="comments_{{ post.id }}">
                                {% for comment in post.comments|slice:":3" %}
                                    <div>
                                        <strong>{{ comment.user }}</strong>: {{ comment.comment_text }}
                                    </div>
                                {% endfor %}
                            </div>
                            <a href="{% url 'post_detailed_view' post_id=post.id %}" class="view-more">View More</a>
                        </div>

                    </div>
                {% endfor %}
            {% else %}
                <h1>No posts yet</h1>
            {% endif %}
        </div>

        <!-- Right sidebar - Users you can follow -->
        <div class="lg:w-5/12">
            <div class="bg-white shadow-md rounded-md overflow-hidden">
                <div class="lg:w-5/12 px-4 py-3">
                    <h2 class="font-semibold text-lg">Users You Can Follow</h2>
                    <a href="/">Refresh</a>
                </div>

                <div class="divide-gray-300 divide-gray-50 divide-opacity-50 divide-y px-4">
                    <!-- Suggestions loop -->
                    {% for suggestion in suggestions_username_profile_list %}
                        <div class="flex items-center justify-between py-4">
                            <div class="flex items-center space-x-4">
                                <a href="/profile/{{ suggestion.user }}">
                                    <img src="{{ suggestion.profile_img.url }}"
                                         class="bg-gray-200 rounded-full w-12 h-12">
                                </a>
                                <div>
                                    <span class="block capitalize font-semibold">{{ suggestion.user }}</span>
                                    <span class="block capitalize text-sm">{{ suggestion.bio }}</span>
                                </div>
                            </div>
                            {% if suggestion.following %}
                                <form action="{% url 'unfollow' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="user_id" value="{{ suggestion.user_id }}">
                                    <button type="submit"
                                            class="border border-gray-200 font-semibold px-4 py-2 rounded-full hover:bg-pink-600 hover:text-white hover:border-pink-600">
                                        Unfollow
                                    </button>
                                </form>
                            {% else %}
                                <form action="{% url 'follow' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="user_id" value="{{ suggestion.user_id }}">
                                    <button type="submit"
                                            class="border border-gray-200 font-semibold px-4 py-2 rounded-full hover:bg-pink-600 hover:text-white hover:border-pink-600">
                                        Follow
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="flex justify-center mt-6" id="toggle" hidden>
    <a href="#" class="bg-white font-semibold my-3 px-6 py-2 rounded-full shadow-md">Load more ..</a>
</div>

<script>
    function toggleComments(postId) {
        var commentsDiv = document.getElementById("comments_" + postId);
        var viewMoreButton = document.querySelector("[onclick='toggleComments(" + postId + ")']");
        if (commentsDiv.style.display === "none") {
            commentsDiv.style.display = "block";
            viewMoreButton.textContent = "View Less";
        } else {
            commentsDiv.style.display = "none";
            viewMoreButton.textContent = "View More";
        }
    }
</script>

</body>
{% endblock %}
